body {
  background-color: rgb(176, 217, 230);
}
h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}
p {
  text-align: justify;
  display: block;
  color: rgb(0, 0, 0);
}
img {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
}